{"Background": {"color": "#104e7a", "value": 0}, "Ascent": {"color": "#95cf95", "value": 208}, "Descent": {"color": "#8ebad9", "value": 155}, "Linear": {"color": "#c9b2dd", "value": 255}, "Short-term Fault": {"color": "#ff83de", "value": 89}, "Fault Inception": {"color": "#ff11df", "value": 88}, "Fault Disappearance": {"color": "#7eff5a", "value": 250}, "Transient Fault": {"color": "#ff5500", "value": 173}, "test": {"color": "#00557f", "value": 199}, "Build-Up": {"color": "#aa55ff", "value": 191}, "Typical Zero-crossing": {"color": "#0055ff", "value": 248}}