{"Background": {"color": "#104e7a", "value": 0}, "Weak-Zero-Crossing": {"color": "#aaffff", "value": 163}, "Classic-Zero-Crossing": {"color": "#aaaaff", "value": 37}, "Shifted-Zero-Crossing": {"color": "#00aaff", "value": 31}, "Randomness": {"color": "#aa55ff", "value": 41}, "Linear": {"color": "#00ff00", "value": 191}, "Fault-Duration": {"color": "#55ff7f", "value": 105}}